* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

.letter-drop {
  opacity: 0;
  transform: translateY(-50px);
  animation: letterDrop 0.6s cubic-bezier(0.23, 1, 0.32, 1) forwards;
  animation-delay: var(--delay, 0s);
}

@keyframes letterDrop {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header_nav {
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0D0D0D;
  z-index: 1000;
  flex-wrap: wrap;
}

.text {
  display: inline;
}

.icon {
  display: none;
}

.short_text {
  display: none
}

.short_hobby {
  display: none
}

.short_place {
  display: none;
}

.short_contact {
  display: none;
}

.full_contact {
  display: inline;
}

.full_hobby {
  display: inline;
}

.full_place {
  display: inline;
}

.icon img {
  height: auto;
  object-fit: cover;
  transition: 0.4s ease-out;
  filter: drop-shadow(0 0 5px yellow) drop-shadow(0 0 10px yellow);
}

.icon img:hover {
  transform: scale(1.2);

}

@media (max-width: 1440px) {
  .section_backgroundImage img {
    width: 350px;
    height: 350px;
  }

  .button {
    top: 1200px;
  }

  .font_halongbay {
    font-size: 20px;
  }


  .section_p {
    font-size: 30px;
  }

  .text {
    display: none;
  }

  .icon {
    display: inline;
  }

  .short_text {
    display: inline;
  }

  .header_List {
    font-size: 190%;

  }

  .header_Contact {
    font-size: 300%;
  }

  .header_nav {
    padding: 27px;
  }

  .icon img {
    width: 40px;
  }

  .full_hobby {
    display: none
  }

  .short_hobby {
    display: inline
  }

  .font_plan img {
    width: 300px;
  }

  .gif2 img {
    width: 350px;
    height: 450px;
  }

  .luxury_watch {
    display: none;
  }

  .title_unique_skills,
  .title_myself,
  .title_things_and_hobbies,
  .title_favourite_place {
    font-size: 40px;
  }

  .font_funfact p,
  .font_skills_learned p,
  .font_skills_pursueing p,
  .font_computer p,
  .font_basketball p {
    font-size: 22px;
  }

  .font_funfact h3,
  .font_skills_learned h3,
  .font_skills_pursueing h3,
  .font_computer h3,
  .font_basketball h3 {
    font-size: 30px;
  }

  .layout_skills_learned img {
    width: 250px;
    height: 250px;
  }

  .flip-card {
    float: left;
  }

  .layout_footer img {
    width: 50px;
    height: 50px;
  }

  .font_computer img {
    width: 220px;
    height: 220px;
  }

  .sticker_basketball {
    display: none;
  }

  .basketball {
    width: 40px;
  }

  .basketball1 {
    left: 0%;
    top: 73%;
  }

  .basketball1 img {
    width: 50%;
    height: 50%;
  }

  .basketball img {
    width: 120px;
    height: 120px;

  }

  .basketball {
    top: 1000px;
    right: 200px;
  }

  .font_basketball {
    width: 900px;
  }

  .places img {
    width: 225px;
    height: 450px;
  }

  .sticker_halongbay img,
  .sticker_plane img,
  .sticker_yacht img {
    width: 150px;
  }
}

@media (min-width: 1441px) {
  .section_backgroundImage img {
    width: 400px;
    height: 396px;
  }

  .font_plan img {
    width: 300px;
  }

  .basketball {
    top: 1100px;
    right: 20px;
  }

  .button {
    top: 1400px;
  }

  .font_halongbay {
    font-size: 20px;
  }

  .basketball1 img {
    width: 70%;
    height: 70%;
  }

  .basketball img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .basketball1 {
    left: 5%;
    top: 55%;
  }

  .container_text_footer {
    right: 5%;
  }

  .font_funfact h3,
  .font_skills_learned h3,
  .font_skills_pursueing h3,
  .font_computer h3,
  .font_basketball h3 {
    font-size: 36px;
  }

  div.dailylife {
    margin-top: 200px;
  }

  div.education {
    margin-top: 400px;
  }

  .gif2 img {
    width: 400px;
    height: 500px;
  }

  .section_p {
    font-size: 35px;
  }

  .short_text {
    display: inline;
  }

  .header_List {
    font-size: 200%;
  }

  .header_Contact {
    font-size: 300%
  }

  .header_nav {
    padding: 25px;
  }

  .title_unique_skills,
  .title_myself,
  .title_things_and_hobbies,
  .title_favourite_place {
    font-size: 50px;
  }

  .font_basketball {
    width: 900px;
  }

  .font_funfact p,
  .font_skills_learned p,
  .font_skills_pursueing p,
  .font_computer p {
    font-size: 22px;
  }

  .font_basketball p {
    font-size: 22px;
  }

  .layout_skills_learned img {
    width: 300px;
    height: 300px;
  }

  .flip-card {
    float: left;
  }

  .layout_footer img {
    width: 50px;
    height: 50px;
  }

  .font_computer img {
    width: 300px;
    height: 300px;
  }

  .HoangNguyen5 {
    display: inline;
  }

  .places img {
    width: 300px;
    height: 600px;
  }

  .sticker_halongbay img,
  .sticker_plane img,
  .sticker_yacht img {
    width: 200px;
  }

  .font_plan table tr th {

    font-size: 24px;
  }

  .font_plan table tr td {
    font-size: 20px;
  }
}

@media (max-width: 1083px) {
  .header_List {
    font-size: 180%;
  }

  .sticker_halongbay img,
  .sticker_plane img,
  .sticker_yacht img {
    width: 120px;
  }

  .font_halongbay {
    font-size: 16px;
  }

  .sticker_yacht {
    display: none;
  }

  .font_plan img {
    width: 200px;
  }

  .places a:nth-of-type(3) {
    display: none;
  }

  .places img {
    width: 260px;

    
  }

  .font_basketball {
    width: 800px;
  }

  .button {
    display: none;
  }

  .basketball1 img {
    width: 25%;
    height: 40%;
  }

  .font_basketball p {
    font-size: 18px;
  }

  .cards div,
  .cards img {
    display: none;
  }

  .header_Contact {
    font-size: 240%;
  }

  .header_nav {
    padding: 35px;
  }

  .icon img {
    width: 35px;
  }

  .short_text {
    display: inline;
  }

  .section_p {
    font-size: 23px;
  }

  .gif2 img {
    width: 270px;
    height: 340px;
  }

  .full_contact {
    display: none;
  }

  .short_contact {
    display: inline;
  }

  .title_unique_skills,
  .title_myself,
  .title_things_and_hobbies,
  .title_favourite_place {
    font-size: 35px;
  }

  .container_text_footer {
    right: 40%;
  }

  .font_computer img {
    display: none;
  }

  .font_computer p {
    font-size: 16px;
  }
}

@media (max-width: 725px) {
  .section_backgroundImage img {
    width: 300px;
    height: 300px;
  }

  .font_plan table tr th {

    font-size: 20px;
  }

  .font_plan table tr td {
    font-size: 16px;
  }

  .font_plan img {
    width: 170px;
  }

  .font_basketball {
    width: 620px;
  }

  .basketball img {
    width: 50px;
    height: 50px;

  }

  .places a:nth-of-type(1) {
    display: none;
  }

  .places img {
    width: 350px;
  }

  .basketball {
    top: 1000px;
    right: 100px;
  }

  .gif2 {
    display: none;
  }

  .header_List {
    font-size: 160%;
  }

  .header_Contact {
    font-size: 200%;
  }

  .icon img {
    width: 30px;
  }

  .header_nav {
    padding: 35px;
  }

  .short_text {
    display: inline;
  }

  .full_place {
    display: none;
  }

  .short_place {
    display: inline;
  }

  .section_p {
    font-size: 11px;
  }

  .title_unique_skills,
  .title_myself,
  .title_things_and_hobbies,
  .title_favourite_place {
    font-size: 25px;
  }

  .font_funfact p,
  .font_skills_learned p,
  .font_skills_pursueing p,
  .font_computer p {
    font-size: 16px;
  }

  .font_basketball p {
    font-size: 12px;
  }

  .layout_skills_learned img {
    width: 200px;
    height: 200px;
  }

  .font_computer img {
    display: none;
  }
}

@media (max-width: 440px) {
  .header_List {
    font-size: 120%;
  }

  .basketball1 {
    display: none;
  }

  .font_basketball {
    width: 500px;
  }

  .flip-card {
    float: none;
  }

  .font_plan img {
    display: none;
  }

  .sticker_halongbay img,
  .sticker_plane img {
    width: 100px;
  }

  .layout_skills_learned img {
    width: 180px;
    height: 180px;
  }

  .font_funfact h3,
  .font_skills_learned h3,
  .font_skills_pursueing h3,
  .font_computer h3,
  .font_basketball h3 {
    font-size: 25px;
  }

  .font_funfact p,
  .font_skills_learned p,
  .font_skills_pursueing p,
  .font_computer p,
  .font_basketball p {
    font-size: 12px;
  }

  .title_favourite_place,
  .title_myself,
  .title_unique_skills,
  .title_things_and_hobbies {
    font-size: 20px;
  }

  .header_Contact {
    font-size: 140%;
  }

  .icon img {
    width: 20px;
  }

  .header_nav {
    padding: 40px;
  }

  .short_text {
    display: inline;
  }

  .section_backgroundImage img {
    width: 250px;
    height: 250px;
  }

  .section_p {
    font-size: 7.1px;
  }

  .layout_footer img {
    width: 40px;
    height: 40px;
  }

}

@media (max-width: 336px) {
  .header_List {
    font-size: 90%;
  }

  .header_Contact {
    font-size: 110%;
  }

  .icon img {
    width: 15px;
  }

  .header_nav {
    padding: 45px;
  }

  .short_text {
    display: inline;
  }

  .title_favourite_place,
  .title_myself,
  .title_unique_skills,
  .title_things_and_hobbies {
    font-size: 20px;
  }
}


.header_List {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  flex-wrap: wrap;
  list-style: none;
  transition: 0.3s ease;
  filter: brightness(1);
}

.header_List li a {
  text-shadow: 0 0 8px #FFD700, 0 0 16px #FFD700;
  transition: text-shadow 0.3s, color 0.3s;
  display: inline;
  text-decoration: none;
  color: #F5F5F5;
}

.header_List li a:hover {
  text-shadow: 0 0 16px #FFD700, 0 0 32px #FFD700;
  color: #FFD700;
  filter: brightness(1.3);
}


.header_Contact a {
  text-shadow: 0 0 8px #FFD700, 0 0 16px #FFD700;
  transition: text-shadow 0.3s;
  text-decoration: none;
  color: #F5F5F5;
  display: inline;
}

.header_Contact a:hover {
  text-shadow: 0 0 16px #FFD700, 0 0 32px #FFD700;
  color: #FFD700;
}

.header_Contact {
  flex-wrap: wrap;
  list-style: none;
}





.header_Contact a {
  color: #F5F5F5;
  text-decoration: none;
}

.section_p {
  color: #f5f5f5;
}


.section_1 {
  margin-top: 100px;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column-reverse;
  padding: 100px;
}

html {
  scroll-behavior: smooth;
}

.section_Background {
  background-color: #121212;
}

.section_backgroundImage h2 {
  text-align: center;
  color: #111827;
}

.section_backgroundImage img {
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #D4Af37;
}

.highlight {
  color: #D4Af37;
  font-style: italic;
  display: inline;
}

.border {
  background-color: #D4Af37;
  height: 2px;
  width: 60%;
  justify-self: center;

}

.section_gif {
  background-color: #121212;
  display: flex;
  flex-direction: row;
  padding: 40px;
  justify-content: space-evenly;
  align-items: center;


}

.education img,
.dailylife img,
.font_basketball img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  justify-self: center;
  border: 5px solid #facc15;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ethnicity img:first-child:hover,
.education img:hover,
.dailylife img:hover,
.font_skills_learned img:hover,
.font_basketball img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(250, 204, 21, 0.8);
}

@keyframes glow {
  from {
    filter: drop-shadow(0 0 5px gold);
  }

  to {
    filter: drop-shadow(0 0 20px gold);
  }
}

.luxury_watch img {
  position: absolute;
  width: 300px;
  height: auto;
  top: 200%;
  right: 5%;
  animation: glow 2s ease-in-out infinite alternate;
}

.section_myself {
  display: flex;
  gap: 170px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.ethnicity,
.dailylife,
.education {
  width: 300px;
}


.text_box {
  background: #111;
  border-radius: 15px;
  margin: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.ethnicity p,
.dailylife p,
.education p {
  color: #F5F5F5;
  font-size: 16px;
  text-align: center;
}

.section_p2 {
  font-size: 24px;
  text-align: center;
}

.section_p2 p {
  color: #f5f5f5;
}

.section_p2 h2 {
  color: #D4Af37
}

.gif2 {
  border: 5px solid #D4Af37;
}

.gif2 img {

  object-fit: cover;
}

.font_computer {
  background-color: #121212;
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 30px;
  /* width: 100%; */
}

.font_computer p {
  color: #F5F5F5;
  text-align: center;
  padding: auto;
}

.font_basketball {
  background-color: #121212;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 80px;
}

.font_halongbay {
  color: #F5F5F5;
  margin: 0 5% 0 5%;
}

.font_plan img {

  height: auto;
  border-radius: 20%;
  object-fit: cover;
  border: 5px solid #facc15;
  animation: glow 2s ease-in-out infinite alternate;
}

.font_plan {
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
  padding: 200px 0 100px 0;
}

.font_plan table tr th {
  color: #D4Af37;
}

.sticker_plane {
  position: absolute;
  top: 5vh;
}

.sticker_halongbay {
  position: absolute;
  top: 5vh;
  right: 10vh;
}

.sticker_yacht {
  top: 72vh;
  right: -72vh;
  position: absolute;
  transform: rotate(-5deg)
}

.sticker_halongbay img,
.sticker_plane img,
.sticker_yacht img {
  height: auto;
  object-fit: cover;
}

.font_plan table tr td {
  color: #f5f5f5;
}

.font_plan table tr {
  background-color: #1F1F1F;
  border-bottom: 1px solid #444;
}

table th:first-child,
table td:first-child {
  width: 20%;
}

.font_funfact,
.font_skills_learned,
.font_skills_pursueing {
  background-color: #121212;
  padding: 30px;
  align-items: center;
}

.font_funfact p,
.font_skills_learned p,
.font_skills_pursueing p,
.font_computer p,
.font_basketball p {
  color: #F5F5F5;
}

.font_funfact h3,
.font_skills_learned h3,
.font_skills_pursueing h3,
.font_computer h3,
.font_basketball h3 {
  color: #D4Af37;
  text-align: center;
}

.basketball {
  position: absolute;
}

.basketball1 {
  position: absolute;
}

.button {
  position: absolute;
  left: 50px;
}

.button button {
  background-color: #D4Af37;
  color: #121212;
  font-size: 40px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px #FFD700, 0 0 20px #FFD700;
  transition: box-shadow 0.3s;
  animation: glow 2s ease-in-out infinite alternate;
}

.basketball1 img {

  object-fit: cover;
}

.sticker_basketball {
  position: absolute;
  top: 1400px;
  right: 50px;
  border: #FFD700 solid 3px;

}

.sticker_basketball img {
  width: 150px;
  height: auto;
  object-fit: fill;

}

.cards {
  position: absolute;
  top: -40px;
  left: -80px;
  width: 200px;
  height: 150px;
  gap: 50px;
  display: flex;
}

.cards div {
  width: 80px;
  height: 120px;
  position: absolute;
  top: -100px;
  left: 50%;
  transform-origin: bottom center;
}

.cards img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 2px solid #333;
}

.cards div:nth-child(1) {
  transform: translateX(900%) rotate(-18deg);
}

.cards div:nth-child(2) {
  transform: translateX(1080%) rotate(18deg) translateY(400%);
}

.cards div:nth-child(3) {
  transform: translateX(0) rotate(18deg);
}

.cards div:nth-child(4) {
  transform: translateX(-50%) rotate(-6deg);
}

.cards div:nth-child(5) {
  transform: translateX(-100%) rotate(-30deg);
}

.skills_spotlight,
.myself,
.things_and_hobbies,
.favourite_place {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  background-color: #121212;
}

.title_unique_skills,
.title_myself,
.title_things_and_hobbies,
.title_favourite_place {
  background-color: #FFD700;
  border: solid 10px #D4Af37;
  padding: 10px;
}

.layout_skills_learned {
  display: flex;
  align-items: center;
  gap: 20px;

}

/* * {
  outline: 1px solid red;
} */

.layout_skills_learned img {
  border-radius: 50%;
  object-fit: cover;
  justify-self: center;
  border: 5px solid #facc15;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.font_skills_pursueing p {
  text-align: justify;
}

footer {
  padding: 50px 0 20px 0;
}

.layout_footer img {
  object-fit: cover;
  transition: 0.4s ease-out;
}

.layout_footer img:hover {
  transform: scale(1.2);
  filter: brightness(1.5);
}

.container_image_footer {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-left: 50px;
}

.container_text_footer {
  margin-left: 50px;
}

.number_phone {
  margin-left: 50px;
}


.places {
  display: flex;
  flex-direction: row;
  gap: 200px;
  flex-wrap: wrap;

}

.places img {
  border-radius: 12px;
  object-fit: cover;
  transition: transform 0.3s;
}

.places img:hover {
  transform: scale(1.1);
}

.typing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.typing h3 {
  color: #facc15;
  font-size: 30px;
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid #D4Af37;
  width: 0;
  animation: typing 4s steps(12, end) forwards,
    blink 0.75s step-end infinite;
  margin: 0 auto;
  text-align: center;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 12ch
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

.font_skills_pursueing img {
  width: 250px;
  height: 300px;
  border-radius: 5%;
  object-fit: cover;
  justify-content: center;
  border: 5px solid #facc15;
  animation: glow 2s ease-in-out infinite alternate;
}

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 300px;
  perspective: 1000px;
  margin: 0 20px 20px 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F5F5F5;
  font-size: 20px;
  line-height: 45px;
}

.flip-card-back {
  background-color: #121212;
  transform: rotateY(180deg);
  border: 5px solid #facc15;
  animation: glow 2s ease-in-out infinite alternate;
  border-radius: 5%;
}




